<h1><%= @list.name.capitalize %></h1>

<%= link_to "Add a movie in the playlist" %>
<%= link_to "Delete the playlist", list_path(@list), method: :delete, data: { confirm: 'Are you sure you want to delete this list?' }%>
